<div  class="create-game__wrapper ">
  <button class="create-game__close-btn m-l-auto" (click)="onCloseModal()">

  </button>
  <form #f="ngForm" (submit)="onCreateGame(f)">
    <div class="form-group">
      <label class="mb-3" for="game-name">Game name</label>
      <input required ngModel name="name"  type="email" class="form-control" id="game-name" placeholder="Name">
    </div>
    <div>
      <label class="mb-3">Selected players:</label>
      <div class="d-flex flex-wrap">
        <div class="create-game__selected-user d-flex mr-3 mb-3" *ngFor="let user of selectedUsers">
          <span class="mr-3">{{user.name}}</span><button (click)="onDeleteSelected(user)" class="create-game__del-btn position-relative"></button>
        </div>
      </div>
    </div>

    <div class="dropdown show mb-3">
      <a
        class="btn btn-secondary dropdown-toggle"
        href="#" role="button"
        id="dropdownMenuLink"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Select players
      </a>
      <ul class="dropdown-menu p-0"  aria-labelledby="dropdownMenuLink">
        <li *ngFor="let user of users"
           class="dropdown-item"
           (click)="onSelect(user)"
        >
          {{user.name}}
        </li>
      </ul>
    </div>

    <input class="btn btn-success" type="submit"  value="Create game">
  </form>

</div>
