.transaction {
  &_box {
    width: 100px;
    height: 100px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgb(0 0 0 / 10%);
  }
  &_dropdown {
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      border: 2px solid #ad1627;
    }
  }
  &_popup-menu {
    display: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgb(0 0 0 / 10%);
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 72px;
    right: -10px;
    left: -10px;
    z-index: 1;
  }
  &_dropdown:hover > &_popup-menu {
      display: flex;
      -webkit-animation: scale .25s;
      animation: scale .25s;
    }
  &_popup-item {
    padding: 10px;
    width: 100%;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: #ad1627;
      color: white;
      border-radius: 10px;
    }
  }
  &_input {
    border: 2px solid #ad1627;
    border-radius: 10px;
    background-color: ghostwhite;
    color: #ad1627;
    font-weight: 600;
    padding: 5px;
    padding-right: 20px;
  }
  &_input-wrapper{
    &:after {
      content: "k";
      position: absolute;
      top: 9px;
      right: 11px;
      font-weight: 600;
      color: #ad1627;
    }
  }
}

@keyframes scale {
  from {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  60% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  to {
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
  }
}
ul, li {
  margin: 0;
  padding: 0;
  width: 100%;
}
