.game {
  &__wrapper {
    cursor: pointer;
    box-shadow: 1px 1px 2px 2px rgb(0 0 0 / 10%);
    transition: all 0.3s;
  }
  &__wrapper:hover {
    transform: scale(1.05);
  }
  &__icon {
    width: 70px;
    height: 70px;
  }
  &__created-text {
    font-size: 14px;
  }
}

.create-game {
  &__popup-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(105, 105, 105, 0.7);
  }
  &__popup {
    width: 100%;
    min-height: 300px;
    box-shadow: 1px 1px 2px 2px rgb(0 0 0 / 10%);
  }
}
.card-title {
  font-weight: 600;
}
